*{ 

}

#body{
    background-image: url(../img/background_bread.jpg);
    
}


a {
    color: white;
    text-decoration: none;
}

a:hover 
{
     color:#c7c7c7; 
     text-decoration:none; 
     cursor:pointer;  
}

.header{
    grid-area: he;
    text-align: center;
    background-color: rgb(73, 46, 28);
    color: white;
    height:80px;
    
}

.navigation{
    grid-area: na;
    
    background-color: rgb(73, 46, 28);
    color: white;
    padding: 10px;
    height: 20px;
    
   
    
}

.footer{
    grid-area: fo;
    background-color: rgb(73, 46, 28);
    color: white;
    margin-top: 15px;
    padding: 15px;
    height: 20px;

}

.main_index{
    max-width: 80%;
    /*background-color: thistle;*/

}

.öppetider{
    grid-area: si1;
    margin: 10px;
    padding: 5px;
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
    background-color: thistle;
    width:300px;
    
    display:flex;
    text-align: center;
    justify-content: space-evenly;

}

h4 {
    
}

.dagar{
    width: 80px;
}

.tider{
    width:80px;
}

.om_oss{
    grid-area: si2;
    margin: 10px;
    padding: 5px;
    
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
    background-color: thistle;
    width: 500px;
    text-align: center;
}


.sortiment_links{
    grid-area: nas;
    margin: 10px;
    background-color: rgb(17, 16, 16);
    padding: 15px;
    
}

.main_sortiment{
   
    margin: 15px;
    padding: 15px;
    
    display:flex;
    align-content: space-around;
    flex-wrap: wrap;

}

img{
    width: 400px;

}

p{
    font-size: larger;
}

#mackor{
    background-color: thistle;
    width: 450px;
    padding: 20px;
    margin: 5px;   
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
   
    
}

#varmmat{
    background-color: thistle;
    width: 450px;
    padding: 20px;
    margin: 5px; 
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
}

#sallader{
    background-color: thistle;
    width: 450px;
    padding: 20px;
    margin: 5px; 
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
}

#bullarokakor{
    background-color: thistle;
    width: 450px;
    padding: 20px;
    margin: 5px; 
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
}

#tartorobakelser{
    background-color: thistle;
    width: 450px;
    padding: 20px;
    margin: 5px; 
    border-color:rgb(73, 46, 28);
    border-style:solid;
    border-width: 4px;
    border-radius: 2px;
}


.main_kontakt{
    background-color: thistle;
    margin: 5px;
    
}

#tel{
    background-color: thistle;
}

#mail{
    background-color: thistle;

}

#insta{
    background-color: thistle;

}

#faceb{
    background-color: thistle;

}

#location{
    background-color: thistle;

}
.a_k{
    color: rgb(10, 10, 10);
    text-decoration: none;
}
    

.a_k:hover{
    color:rgb(90, 87, 87); 
     text-decoration:none; 
     cursor:pointer;  
} 

     



/* MOBILE */
@media screen and (max-width: 1023px){
    #index{
        display: grid;
        width:100vw;
        max-width:100%;
        height:100vh;
    
        grid-template-areas:
        'he'
        'na'
        'si1'
        'si2'
        'fo';
        grid-template-rows: 20% 10% auto auto 20% ;
        grid-template-columns: 100%;
    }

    #sortiment{
        display:grid;
        width:100vw;
        max-width:100%;
        height:100vh;
    
        grid-template-areas:
        'he'
        'na'
        'nas'
        's1'
        's2'
        's3'
        's4'
        's5'
        'fo';
        grid-template-rows: 20% 10% 10% auto auto auto auto auto 20% ;
        grid-template-columns: 100%;
    }

}


/* DESKTOP */
@media screen and (min-width: 1024px){

    .navigation_button{
        display:none;
    }

    #index{
        display: grid;
        width:100vw;
        max-width:100%;
        height:100vh;
    
        grid-template-areas:
        'he he'
        'na na'
        'si1 si2'
        'fo fo';
        grid-template-rows: 20% 10% auto 20%;
        grid-template-columns: 50% 50%;
    
    }

    #sortiment{
        display:grid;
        width:100vw;
        max-width:100%;
        height:100vh;
    
        grid-template-areas:
        'he he'
        'na na'
        'nas nas'
        's1 s1'
        's2 s2'
        's3 s3'
        's4 s4'
        's5 s5'
        'fo fo';
        grid-template-rows: 20% 10% 10% auto auto auto auto auto 20% ;
        grid-template-columns: 100%;
    }


}